@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@using System;
@model List<ToDoList.Models.Item>;//view has access to the necessary list of Items.

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>


  <table class="table">
    <thead>
      <tr>
        <th>
          Task description
        </th>
        <th>
          Complete?
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @foreach(Item item in Model)
      {
        @Html.HiddenFor(modelItem => item.ItemId)
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Description)
          </td>
          <td>
          @using (Html.BeginForm("Index", "Items", FormMethod.Post, new { @class = "itemCheckbox" }))
          {
            @Html.HiddenFor(modelItem => item.ItemId)
            @Html.HiddenFor(modelItem => item.Description)

            @Html.CheckBoxFor(modelItem => item.IsComplete)
          }
          
          </td>
          <td>
            @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
          </td>
        </tr>
      }
      
    </tbody>