@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category
@using ToDoList.Models

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
  
@* @if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}  *@

<ul>
  @foreach(Item item in Model.Items)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", "Items", new { id = item.ItemId })</li>
  }
<hr />
<p>@Html.ActionLink("Add task", "Create", "Items", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>